{% extends 'base.html' %}

{% block content %}
    <h1>Bug Details</h1>
    <div class = "container">
        <div class="mb-4 row">
            <li class="list-group-item"><strong>Description:</strong> {{ bug.description }}</li>
        </div>
        <div class="mb-4 row">
            <li class="list-group-item"><strong>Bug Type:</strong> {{ bug.bug_type }}</li>
        </div>
        <div class="mb-4 row">
            <li class="list-group-item"><strong>Report Date:</strong> {{ bug.report_date }}</li>
        </div>
        <div class="mb-4 row">
            <li class="list-group-item"><strong>Status:</strong> {{ bug.status }}</li>
        </div>
        <a href="{% url 'bug:list_bug' %}" class="btn btn-primary">Back to Bug List</a>
    </div>
{% endblock %}