{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Register a Bug</h1>
    <br/><br/>
    <!--Using Django's built in `form` template tag to automatically generates form elements-->
    <form method="post">
        <!-- generate a hidden input field containing CSRF token, CSRF stands for Cross-Site Request Forgery, a security measure to protect against malicious attacks. The CSRD token ensure that form submission comes from legimate source and not from a malicious attacker-->
        {% csrf_token %}
        <!--% crispy % tag to render your form with Bootstrap styles-->
        {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
