{% extends "base.html" %}

{% block title %}Capacity Exchange project{% endblock %}

{% block content %}
  <section class="text-center">
    <div class="container-fluid text-center">
        <div class="row">
            <h1 class="display-4">Outreachy open source program</h1>
        </div>
        <div class="mb-4 row">
            <p class="display-5 text-center">Capacity Exchange</p>
        </div>

            <h2 class="display-4 text-center">Project Title:</h2>
            <h2 class="display-5">Assist Capacity Exchange Development</h2>
        
    </div>
  </section>

  <section class="project-overview my-3">
    <div class="container text-center">
        <a href="{% url 'bug:register_bug' %}" class="btn btn-primary">Report Bug</a>
        <a href="{% url 'bug:list_bug' %}" class="mx-1 btn btn-secondary">Bug List</a>
    </div>
  </section>

  <!--  more sections as needed -->
{% endblock %}