{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Bug Details</h1>
    <li class="list-group-item"><strong>Description:</strong> {{ bug.description }}</li>
    <li class="list-group-item"><strong>Bug Type:</strong> {{ bug.bug_type }}</li>
    <li class="list-group-item"><strong>Report Date:</strong> {{ bug.report_date }}</li>
    <li class="list-group-item"><strong>Status:</strong> {{ bug.status }}</li>
    <a href="{% url 'bug:list_bug' %}">Back to Bug List</a>

{% endblock %}
